@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i');

body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #616c84;
    background: #ffffff;
    line-height: 1.7em;
    padding: 0;
    margin: 0;
}
#first {
    display: flex;
    width: 300px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
    margin-left: 400px;
    margin-right: 400px;
}
.call {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#options{

    margin: 40px auto 20px auto;
    position: relative;
    display:  flex;
    margin-left:  300px;
}
img {
    height: 150px;
    margin-right: 50px;
    opacity: 0.7;
}
img:hover{
    box-shadow: 10px 10px  grey;
    opacity: 1;
}

.cover {
    width: 260px;
    object-fit: cover;
}

p{
    margin-top: 0;
    padding-top: 0;
}

#check{
    border-radius: 30px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}
#check:hover{

    background-color: blue;
}
#check2{
    display: inline-block;
    border-radius: 30px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 575px;

}
#check2:hover{

    background-color: blue;
}

#check3{
    display: inline-block;
    border-radius: 30px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 575px;

}
#check3:hover{

    background-color: blue;
}





#intro{

    font-size: 30px;
    font-family: serif;

}
span {
    margin-top: 50px;
    text-align: center;

}
p{
    color: green;
    font-family: sans-serif;
    font-size: 50px;
}
article{
    width: 450px;
    height: 450px;
    margin: 40px auto 20px auto;
    position: relative;
    -webkit-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
    -ms-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);

}

.pieces{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 10px;
    margin : 5px;
    z-index: 100;
    -webkit-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
    -ms-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
    perspective: 1000;

}

#piece-1{
    top: 0;
    left: 0;
    background-position: 0px 0px ;
}

#piece-2{
    top: 0;
    left: 150px;
    background-position: -150px 0px ;
}

#piece-3{
    top: 0;
    left: 300px;
    background-position: -300px 0px ;
}

#piece-4{
    top: 150px;
    left: 0;
    background-position: 0px -150px ;
}

#piece-5{
    top: 150px;
    left: 150px;
    background-position: -150px -150px ;
}

#piece-6{
    top: 150px;
    left: 300px;
    background-position: -300px -150px ;
}
#piece-7{
    top: 300px;
    left: 0px;
    background-position: 0px -300px ;
}

#piece-8{
    top: 300px;
    left: 150px;
    background-position: -150px -300px ;
}
#piece-9{
    top: 300px;
    left: 300px;
    background-position: -300px -300px  ;

}


p{
    margin: 20px auto;
    width: 1020px;
    text-align: center;
}

.glow{
    z-index: 101;
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
    box-shadow: 0px 0px 6px 0px #000000;
    transform: scale(1.1);
}

@-webkit-keyframes animate-guage {
    0%   { transform: scale(1.04); }
    50%   { transform: scale(1.06); }
    100%  { transform: scale(1.04); }
}

.glow-2{ -webkit-transform: rotateX(360deg); }

@-webkit-keyframes animate-guage-2 {
    0%   { transform: scale(1); }
    50%   { transform: scale(1.02); }
    100%  { transform: scale(1); }
}

#second{
    display: none;

}

#third{
    display: none;
}

.disp-2{

    display: none;
}
.disp-3{
    display: none;

}
